{% extends "index.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">URL: {{query}}</h4>
    <h1 class="text-center"><i>Detected: {{is_human}}</i></p>
    <h1 class="text-center"><i>Looks like: {{classification_result}}</i></p>
    <h1 class="text-center"><i>Confidence % (0-1): {{classification_probability}}</i></p>
    <img src={{query}} alt="Responsive image" class="img-fluid ">
{% endblock %}

<!-- {% block content %}
    <h1 class="text-center">Result</h1>
        <ul class="list-group">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %} -->
